
*{
    margin: 0px;
}


.navbar {
    width: 72%;
    height: 30px;
    text-align: left;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: absolute;
    right: 23%;
    height: 0;
    
    
}
li {
    display: inline;
}

li a {
    padding: 40px;
    text-decoration: none;
    font-family: trebuchet ms;
    color: #DFDED4;
    
}


button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
 .refleks:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
 .refleks:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  .refleks::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  .refleks:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  

  button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
 .porno:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
 .porno:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  .porno::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  .porno:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  
  .refleks {
    position: absolute;
    top: 50%;
    right: 70.5%;
    background-color: #0B4EAF;
}

.porno {
    position: absolute;
    top: 50%;
    right: 86%;
    background-color: #0B4EAF;
    text-decoration: none;
    color: white;
}

.background {
    background-color: #7B7B7B;
}

.paragraf {
    position: absolute;
    top: 30%;
    right: 88.5%;
    font-size: 45px;
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    text-shadow: 100px;
}

.acıklama {

    position: absolute;
    top: 40%;
    right: 70%;
    font-size: 15px;
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    

}

.ales {
    position: absolute;
    top: 1.5%;
    left: 3%;
    
}

.arkaplan {
    position: absolute;
    top: 30%;
    right: 45%;
}

.porno1 {
    text-decoration: none;
    color: white;
}

.refleks1 {
    text-decoration: none;
    color: white;
}

.card {
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 2rem;
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    background-color: );
    padding: 1.5rem;
    position: absolute;
    top: 30%;
    right: 50%
  }
  
  .header {
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: #fff
  }
  
  .price {
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 700;
    color: #fff
  }
  
  .desc {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    line-height: 1.625;
    color: rgba(156, 163, 175, 1);
  }
  
  .lists {
    margin-bottom: 1.5rem;
    flex: 1 1 0%;
    color: rgba(156, 163, 175, 1);
  }
  
  .lists .list {
    margin-bottom: 0.5rem;
    display: flex;
    margin-left: 0.5rem
  }
  
  .lists .list svg {
    height: 1.5rem;
    width: 1.5rem;
    flex-shrink: 0;
    margin-right: 0.5rem;
    color: rgba(167, 139, 250, 1);
  }
  
  .action {
    border: none;
    outline: none;
    display: inline-block;
    border-radius: 0.25rem;
    background-color: rgba(167, 139, 250, 1);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: rgba(17, 24, 39, 1);
  }



  .card1 {
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 2rem;
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    background-color: );
    padding: 1.5rem;
    position: absolute;
    top: 30%;
    right: 20%
  }
  
  .header1 {
    display: flex;
    flex-direction: column;
  }
  
  .title1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: #fff
  }
  
  .price1 {
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 700;
    color: #fff
  }
  
  .desc1 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    line-height: 1.625;
    color: rgba(156, 163, 175, 1);
  }
  
  .lists1 {
    margin-bottom: 1.5rem;
    flex: 1 1 0%;
    color: rgba(156, 163, 175, 1);
  }
  
  .lists1 .list1 {
    margin-bottom: 0.5rem;
    display: flex;
    margin-left: 0.5rem
  }
  
  .lists1 .list1 svg {
    height: 1.5rem;
    width: 1.5rem;
    flex-shrink: 0;
    margin-right: 0.5rem;
    color: rgba(167, 139, 250, 1);
  }
  
  .action1 {
    border: none;
    outline: none;
    display: inline-block;
    border-radius: 0.25rem;
    background-color: rgba(167, 139, 250, 1);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: rgba(17, 24, 39, 1);
  }


  .baslik {
    position: absolute;
    top: 14%;
    right: 45%;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 30px;
    color: #DFDED4;
}

.hakkimizda {
    position: absolute;
    top: 20%;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}

.premium {
    position: absolute;
    top: 50%;
    right: 38%;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 30px;
    color: #DFDED4;
}

.kullanici {
    position: absolute;
    top: 80%;
    right: 55%;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    color: white;

}

.sunucu {

    position: absolute;
    top: 80%;
    right: 45%;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    color: white;

}

